<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic 4 Select & Crop Image
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding text-center>
  <ion-avatar item-end>
    <img [src]="imgPreview" (click)="getPhoto()">
  </ion-avatar>
  
  <ion-button (click)="selectImage()">
    Pick Image to Crop
  </ion-button>
 
  <h5 *ngIf="croppedImagepath.length">Cropped Image</h5>
 
  <p *ngIf="isLoading">Loading ...</p>
 
  <img [src]="croppedImagepath" />
 
</ion-content> -->
<!-- <ion-content padding>

<ion-avatar item-end>
  <img src="{{imgPreview}}" (click)="getPhoto()">
</ion-avatar>
</ion-content> -->

<div class="wrapper">
  <div class="main-panel">
    <div class="main-content">
      <div class="container-fluid">

        <div class="login-reg-panel back2">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="white-panel">
              <div class="login-pannel">
                <div class="org-back"></div>

                <div class="login-show">
                  <!-- <div class="org-mini-logo">
                    <img src="" class="login_symbol" />
                  </div> -->
                  <div class="login-title">
                    <!-- <img src="" class="login_symbol" /> -->
                    <span>Login</span>
                  </div>
                  <div class="login-sec"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    <input type="tel" formControlName="phonenumber" class="form-control" placeholder="तुमचे मोबाइल नंबर"
                      [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }" />
                    <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback">
                      <div *ngIf="f.phonenumber.errors.required">तुमचे मोबाइल नंबर टाका</div>
                    </div>
                  </div>
                  <div class="login-sec"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    <input type="password" formControlName="password" class="form-control"  placeholder="तुमचे password"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">तुमचे Password नंबर टाका</div>
                    </div>
                  </div>

                  <div class="signin-sec">
                    <input type="submit" [disabled]="loading" class="form-control" name="Connect" value="Connect">
                    <a routerLink="/register" class="btn btn-link"  style="color: #fff;">Register</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

